@import "styles/settings/__settings";

// container for title, posts, bottom menu, footer
.container {
  max-width: 60rem;
  padding: 0 2rem;
  margin: 0 auto;
  background-color: rgba(249, 244, 215, 0.85);
  border-radius: 5px;
}
