.main {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: rgba(249, 244, 215, 0.85);
  // background-image: url("../../../public/images/paperWhite.jpg");
}

// .mainDark {
//   background-repeat: no-repeat;
//   background-size: 100%;
//   background-color: black;
//   background-image: url("../../../public/images/paperBlack.jpg");
// }
